.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
        ), url("https://images.pexels.com/photos/450595/pexels-photo-450595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.logintitle{
    font-size: 50px;
    
}

.loginform{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.loginform>label{
    margin: 10px 0;
    color: teal;
    font-size: 20px;
    font-weight: bolder;
}


.loginformbutton{
    margin-top: 20px;
    cursor: pointer;
    background: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.registertext{
    font-size: 20px;
    color: lightcoral;
    font-style: italic;
    
}

.loginregisterbutton{
    position:absolute;
    top: 90px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 5px 25px;
    background-color: teal;
}


.loginform>input{
    border: none;
    font-size: 1.2rem;
    font-style: italic;
}